body {
    margin: 0;
    background: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.log-in {
    margin-top: 10px;
    margin-bottom: 10px;
}
.log-in a {
    color: #0652DD;
}
.log-in a:active {
    color: #EA2027;
}
