@import url("/css/fonts.css");
@import url("/css/sets.css");

* {
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    background: #f7f7f7;
    font-family: 'Times New Roman', Arial, 'Courier New';
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;
    position: relative;
}

body > .wrapper {
    padding-top: 45px;
}

*[data-hidden] {
    visibility: hidden;
}

header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.08);
    z-index: 2;

    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

header ul {
    padding: 0;
    margin: 0;
}

header li {
    display: inline;
    margin-left: 15px;
}

main {
    padding: 15px;
}

header a {
    color: #0652DD;
}

header a:active {
    color: #EA2027;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > * {
    width: 500px;
}

.posts {
    margin-bottom: 15px;
}

.posts .notice {
    text-align: center;
    margin-top: 20px;
}

.posts .hr {
    border-top: 1px dashed #ddd;
    padding: 0;
    margin: 0;
}

.profile-header {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.profile-header > li {
    display: flex;
    padding: 10px;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
}

.profile-header > li:last-of-type {
    border-bottom: none;
}

.profile-header .title {
    color: #444;
    margin-right: 5px;
}

.posts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-post input {
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    background: #009432;
    color: #f7fffa;
    box-shadow: 0 2px 0 0 #006321;
    border: none;
    border-bottom: 1px solid #006321;
    transition: all .1s ease;
}

.new-post input:hover {
    background: #009e35;
    border-bottom: 1px solid #017d2a;
    box-shadow: 0 2px 0 0 #017d2a;
}

.new-post input:active {
    transform: translate(0, 3px);
    box-shadow: none;
}

.post {
    position: relative;
}

.post > .wrapper {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 15px;
    background: #fff;
    font-family: Roboto, Arial, Tahoma;
    font-size: 14px;
}

.post .title {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.post .title > * {
    display: flex;
}

.post .title .user > a {
    color: blue;
}

.post .title .datetime {
    font-size: 13px;
    font-weight: bold;
    color: #444;
    margin-right: 10px;
}

.post .title .datetime > * {
    display: inline;
} 

.post .title .delimiter {
    color: #444;
}

.post .menu {
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    cursor: pointer;
    user-select: none;
}

.post .menu:hover {
    background: #ddd;
}

.post .data {
    padding: 10px;
    line-height: 21px;
    word-spacing: 1.5px;
    text-align: justify;
    font-family: Roboto, Arial, Tahoma;
    white-space: pre-wrap;
}

.post .file-list {
    list-style-type: none;   
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Roboto, Arial, Tahoma;
    font-weight: bold;
}

.post .file-list > * {
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.post .file-list .file-name {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: hidden;
}

.post .file-list .file-name > a {
    color: #000;
    text-decoration: none;
}

.post .file-list .file-name > a:hover {
    text-decoration: underline;
}

.post .file-list > li > * {
    padding: 10px;
}

.post .file-list > li > *:first-of-type > i {
    padding-right: 10px;
}

.post-options {
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    margin: 10px;

    transition: 
        transform .1s,
        opacity .1s,
        box-shadow .1s;

    box-shadow: 0 0 100px 0 rgba(0,0,0,.4);
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0;
    list-style-type: none;
    min-width: 120px;
    color: #222;
    font-weight: 600;
    font-size: 13px;
    user-select: none;
}

.post-options .option  {
    padding: 7px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background .03s;
}

.post-options .option:last-of-type {
    border-bottom: none;
}

.post-options .option:hover {
    background: #eee;
}

.post-options .back {
    color: #444;
}

.post-options .back i {
    font-size: 16px;
}

.post-options i {
    box-sizing: content-box;
    padding-right: 10px;
    width: 14px;
    text-align: center;
}

.scaled {
    transform: scale(0.94) translate(3%, -3%);
    opacity: 0;
    box-shadow: none;
}

.more-posts {
    text-align: center;
}

.more-posts .wrapper {
    display: inline-block;
    font-family: Roboto, Arial, Tahoma;
    font-weight: bold;
    text-align: center;
    padding: 8px 10px;
    border-radius: 1.8em;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    background: #fff;
    color: #000;
    border: 1px solid #ddd;

    box-shadow: 
        0 6px 15px 0 #ccc,
        0 1px 0 0 #aaa;

    transition: all .1s ease;
    user-select: none;
}

.more-posts .wrapper:active {
    transform: translate(0, 2px);
    box-shadow: 
        0 3px 4px 0 #ddd,
        0 1px 0 0 #aaa;
}

.posts-end {
    padding: 10px;
    padding-bottom: 3px;
    font-family: Roboto, Arial, Tahoma;
    font-size: 13px;
    font-weight: bold;
}

.post .pic-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    justify-items: stretch;
    align-content: stretch;
    list-style-type: none;   
    padding: 5px;
    margin: 0;
    border-top: 1px solid #ddd;
}

.post .pic-list .image {
    margin: 5px;
    flex-grow: 1;
    max-height: 100px;
    min-height: 30px;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    background-size: contain;
    border-radius: 3%;
    min-height: 70px;
    cursor: pointer;
}

.post .pic-list .image {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 5px;
    border: 1px solid #ddd;
}
