@import url("/css/fonts.css");
@import url("/css/notifications.css");

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    overflow-y: scroll;
    background: #f7f7f7;
    font-family: 'Times New Roman', Arial, 'Courier New';
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;
    position: relative;
}

body > .wrapper {
    padding-top: 45px;
}

*[data-hidden] {
    visibility: hidden;
}

header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.08);
    z-index: 2;

    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

header ul {
    padding: 0;
    margin: 0;
}

header li {
    display: inline;
    margin-left: 15px;
}

main {
    padding: 15px;
}

header a {
    color: #0652DD;
}

header a:active {
    color: #EA2027;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > * {
    width: 500px;
}

.posts {
    margin-bottom: 15px;
}

.posts .notice {
    text-align: center;
    margin-top: 20px;
}

.posts .hr {
    border-top: 1px dashed #ddd;
    padding: 0;
    margin: 0;
}