@import url("/css/fonts.css");
@import url("/css/sets.css");
@import url("/css/notifications.css");

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    overflow-y: scroll;
    background: #f7f7f7;
    font-family: 'Times New Roman', Arial, 'Courier New';
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;
    position: relative;
}

body > .wrapper {
    padding-top: 45px;
}

*[data-hidden] {
    visibility: hidden;
}

header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.08);
    z-index: 2;

    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

header ul {
    padding: 0;
    margin: 0;
}

header li {
    display: inline;
    margin-left: 15px;
}

main {
    padding: 15px;
}

header a {
    color: #0652DD;
}

header a:active {
    color: #EA2027;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > * {
    width: 500px;
}

.posts {
    margin-bottom: 15px;
}

.posts .notice {
    text-align: center;
    margin-top: 20px;
}

.posts .hr {
    border-top: 1px dashed #ddd;
    padding: 0;
    margin: 0;
}

.profile-header {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.profile-header > li {
    display: flex;
    padding: 10px;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
}

.profile-header > li:last-of-type {
    border-bottom: none;
}

.profile-header .title {
    color: #444;
    margin-right: 5px;
}

.posts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-post {
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    background: #009432;
    color: #f7fffa;
    box-shadow: 0 2px 0 0 #006321;
    border: none;
    border-bottom: 1px solid #006321;
    transition: all .1s ease;
}

.new-post:hover {
    background: #009e35;
    border-bottom: 1px solid #017d2a;
    box-shadow: 0 2px 0 0 #017d2a;
}

.new-post:active {
    transform: translate(0, 3px);
    box-shadow: none;
}

.more-posts {
    text-align: center;
}

.more-posts .wrapper {
    display: inline-block;
    font-family: Roboto, Arial, Tahoma;
    font-weight: bold;
    text-align: center;
    padding: 8px 10px;
    border-radius: 1.8em;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    background: #fff;
    color: #000;
    border: 1px solid #ddd;

    box-shadow: 
        0 6px 15px 0 #ccc,
        0 1px 0 0 #aaa;

    transition: all .1s ease;
    user-select: none;
}

.more-posts .wrapper:active {
    transform: translate(0, 2px);
    box-shadow: 
        0 3px 4px 0 #ddd,
        0 1px 0 0 #aaa;
}

.posts-end {
    padding: 10px;
    padding-bottom: 3px;
    font-family: Roboto, Arial, Tahoma;
    font-size: 13px;
    font-weight: bold;
}