<header>
    <div>
        <a href="/">News</a>
    </div>
    <div>
        <ul>
        {% if authenticated() %}
            <li>{{ globals.user.login }}</li>
            <li><a href="/profile/index">Profile</a></li>
            <li><a href="/friends">Friends</a></li>
            <li><a href="/profile/settings">Settings</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        {% else %}
            <li><a href="/auth/login">Log in</a></li>
        {% endif %}
        </ul>
    </div>
</header>
