<header>
    <div>
        <a href="/">News</a>
    </div>
    <div>
        <ul>
        {% if authenticated() %}
            <li>{{ user('login') }}</li>
            <li><a href="/profile/index">Home page</a></li>
            <li><a href="/profile/settings">Settings</a></li>
            <li><a href="/profile/logout">Logout</a></li>
        {% else %}
            <li><a href="/auth/login">Log in</a></li>
        {% endif %}
        </ul>
    </div>
</header>
