<div class="comment">
    <div class="author">
        <div class="icon"><i class="fa-solid fa-user"></i></div>
        <div class="name"><a href="/profile/index?id={{ comment.author.id }}">{{ comment.author.public }}</a></div>
    </div>
    <div class="text">{{ comment.text }}</div>
</div>