<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/notifications.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>
    {% block main %}{% endblock %}
</body>
</html>
