<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/notifications.css">
    <link rel="stylesheet" href="/fontawesome-free-7.1.0-web/css/all.min.css">
</head>
<body>
    {% block main %}{% endblock %}
</body>
</html>
