<!doctype html>
<html>
<head>
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/new-post.css">
    <!--<link rel="stylesheet" href="/font-awesome/css/all.css">-->
    <link rel="stylesheet" href="/css/notifications.css">
    <link rel="stylesheet" href="/css/sets.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

    {% block style %}{% endblock %}

    <script>
        {
            let user = null;

            window.globals = {
                getUser: async function(id) {
                    if (user !== null) {
                        return user;
                    }

                    const uri = new URL('/api/profile/get', window.location.origin);

                    if (id) {
                        uri.searchParams.set('id', id);
                    }

                    try {
                        const response = await fetch(uri);
                        user = response.json();
                    } catch (e) {
                        console.error('Failed to fetch user data', e);
                        return null;
                    }

                    return user;
                },
            };
        }
    </script>
</head>
<body>
    {{ include('/common/header.html.twig') }}
    {{ include('/common/notifications.html.twig') }}

    <div class="wrapper">
        <main>
            {% block main %}{% endblock %}
        </main>
    </div>
</body>
</html>