<!doctype html>
<html>
<head>
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/new-post.css">
    <!--<link rel="stylesheet" href="/font-awesome/css/all.css">-->
    <link rel="stylesheet" href="/css/notifications.css">
    <link rel="stylesheet" href="/css/sets.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

    {% block style %}{% endblock %}
</head>
<body>
    {{ include('/common/header.html.twig') }}
    {{ include('/common/notifications.html.twig') }}

    <div class="wrapper">
        <main>
            {% block main %}{% endblock %}
        </main>
    </div>
</body>
</html>